@model Student

@{
    ViewData["Title"] = "Update student";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Student</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AcademicYear" class="control-label"></label>
                        <input asp-for="AcademicYear" class="form-control" />
                        <span asp-validation-for="AcademicYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StudentStatus" class="control-label"></label>
                        <input asp-for="StudentStatus" class="form-control" />
                        <span asp-validation-for="StudentStatus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>